#app{
display: flex;
flex-direction: row-reverse;
flex-direction: column-reverse;
flex-direction: column-reverse;
margin-right: 5px;
flex-wrap: wrap;
flex-wrap: wrap-reverse;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;

}

#app{ display:block; width: 50px;height: 50px;background: #000000;

}

#personaje{
    order: 2
}

#ejemplos1{
    order: 4

}

#ejemplo{ display:block; width: 50px;height: 50px;background: #000000;

}

.ejemplos{
    display: flex;
    align-items: center
    flex-direction: column;
    width: 50px;
    height: 50px;
    background-color:#c10000;
    margin-right: 5px;
    color: #c10000;
    margin-right: 5px;
    flex-wrap: nowrap;
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

#ejemplo{ display:block; width: 50px;height: 50px;background: #000000;

}
    

